script.
    let WebData;
        fetch(`${domain}/api/v1/getPages`).then((WebPages)=>{
            return WebPages.json()
        }).then((WebPages)=>{
            WebData=WebPages.Pages;
            //- console.log(WebData)
            WebData.forEach((pages,index)=>{
                let tableData = document.getElementById("tbody")
       
                tableData.innerHTML += `    <tr>
                                            <th  class='align-middle' scope="row">${index+1}</th>
                                            <td class='align-middle'>${pages.pageName}</td>
                                            <td class='align-middle'>${pages.fileName}</td>
                                            <td class='align-middle'>
                                            <a class="btn btn-light btn-sm align-middle" href="/${pages.fileName}" role="button"><i class="bi bi-eye-fill"></i></a>
                                            <a class="btn btn-success btn-sm align-middle" href="/admin/pages/update/${pages._id}" role="button"><i class="bi bi-pencil-square"></i></a>
                                            <a class="btn btn-primary btn-sm align-middle" href="/admin/pages/delete/${pages._id}" role="button"><i class="bi bi-trash"></i></a>
                                            </td>
                                            </tr>`}
            )
             })
table.table.table-striped.table-dark
  thead
    tr
      th.align-middle(scope='col') #
      th.align-middle(scope='col') Page Name
      th.align-middle(scope='col') File Name
      th(scope='col')
        a.btn.btn-sm.btn-success(href="/admin/pages/add-new") Add Page 
          i.bi.bi-plus-square-fill
  tbody#tbody.align-middle
