
// Sidebar Start
.sidebar.pe-4.pb-3
  nav.navbar.bg-secondary.navbar-dark
    a.navbar-brand.mx-4.mb-3(href='/admin')
      h3.text-primary
        i.fa.fa-user-edit.me-2
        | Exo Web
    .d-flex.align-items-center.ms-4.mb-4
      .position-relative
        img.rounded-circle(src='/img/user.jpg' alt='' style='width: 40px; height: 40px;')
        .bg-success.rounded-circle.border.border-2.border-white.position-absolute.end-0.bottom-0.p-1
      .ms-3
        h6.mb-0 Md Samsed Rayeen
        span Admin
    .navbar-nav.w-100
      a(class= `nav-link nav-item ` + `${dashboard}` href='/admin')
        i.fa.fa-tachometer-alt.me-2
        | Dashboard
      .nav-item.dropdown
        a(class=`nav-link dropdown-toggle ${pages == "active" || addNewPage == "active" ? "active" : ""}` href='#' data-bs-toggle='dropdown')
          i.far.fa-file-alt.me-2
          | Pages
        .dropdown-menu.bg-transparent.border-0
          a(class=` dropdown-item ` +` ${pages}` href='/admin/pages') All Page
          a(class=` dropdown-item ` +` ${addNewPage}` href='/admin/pages/add-new') Add New Page
        .nav-item.dropdown
          a(class=`nav-link dropdown-toggle ${sections == "active" || addNewSection == "active" ? "active" : ""}` href='#' data-bs-toggle='dropdown')
            i.fa.fa-laptop.me-2
            | Sections
          .dropdown-menu.bg-transparent.border-0
            a(class=`dropdown-item` +` ${sections}` href='/admin/sections') All Sections
            a(class=`dropdown-item` +` ${addNewSection}` href='/admin/sections/add-new') Add New Secrtions
        .nav-item.w-100
          a(class=`nav-link dropdown-toggle ${url == "/admin/routes" ? "active" : ""}` href='/admin/routes') 
            i.bi.bi-signpost-split.me-2  
            | Routes        
// Sidebar End
